body {
  color: #e6eef8;
  background-image: url('../background.png'); 
  background-attachment: fixed;
  background-size: cover;
}
.content-container {
  min-height: 100vh;
  margin-top:55px;
}
.main-title {
  color: #e6eef8;
  margin-bottom: 20px;
  padding-top:30vh;
  margin-top:-45px;
}
.thumb-container {
  margin: 10px 5% 0px 5%;
  width: 90%
}

.caption-container {
  margin: 0px 5% 10px 5%;
  width: 90%
}

.header {
  position: fixed;
  z-index: 99;
  top:0px;
  height:55px;
  background-color: #e6eef8;
  padding: 5px;
  width: 100%;
  min-width: 350px;
}
.home-container {
  background-color:transparent;
}
.projects-container {
  background-color: #3080e8;
  margin-top: -13px;
  min-height:100vh;
  border-radius: 20px;
}
.about-container {
  background-color: #3080e8;
  margin-top: -13px;
  min-height:100vh;
  border-radius: 20px;
}
.right-header {
  float: right;
}
.logo {
  text-align:left;
}
.body-container {
  background-color: transparent;
  max-width:900px;
  min-width:350px;
  margin: auto;
}
img {
  border-radius: 7px;
  border: 1px #3e4a56 solid;
}
.img-thumb {  
  padding: 0px;
}

h1{
  font-family: "Lucida Console", "Georgia", Serif;  
}
h2 {
  font-family: Script; 
}
h3 {
  font-family: "Lucida Console", "Georgia", Serif;
  color: #e6eef8;
  padding: 20px 0px 10px 0px;
}

p {
  font-family: "Verdana", Sans-Serif;
}
.text-container {
  margin: 10px;
}
h6{
  font-family: "Verdana", Sans-Serif;
  color: #e6eef8;
}
.btn {
  background-color: #e6eef8;
  color: #3e4a56;
  margin: 0px;
}
.home-btn {
  width:180px;
  margin-bottom:3px;
}
i{
  color: #ff7422;
}
.btn:hover, .btn:active {
  color: #ff7422;
}
.btn-group {
  margin:0px;
  height:100%;
}
.paragraph-header {
  text-align: center;
  font-family: "Lucida Console", "Georgia", Serif;
  color: #e6eef8;
}